* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1A1A1B;
}

body {
  background-color: #030303;
  color: #fff;
}

.nav-user a {
  color: #ffffff8c;
  text-decoration: none;
  margin: 0 5px;
}

.nav-user a:hover {
  color: white;
}